*{
    margin: 0;
    padding: 0;
}

body{
    /* width: 80%; */
    height: auto;
    background: hsla(154, 96%, 57%, 1);
    background: linear-gradient(90deg, hsla(154, 96%, 57%, 1) 34%, hsla(0, 0%, 100%, 1) 99%);
}
.contenedor-1{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    gap: 100px;
    top: 15px;
    width: 100%;
    margin-bottom: 2rem;
    /* background: hsla(154, 96%, 57%, 1);
    background: linear-gradient(90deg, hsla(154, 96%, 57%, 1) 34%, hsla(0, 0%, 100%, 1) 99%); */
}
.items {
    list-style: none;
    
}

.img-header{ 
    width: 200px;
    height: 200px;
    margin: 0%;
}
.img-header:hover{
    width: 203px;
    height: 203px;
    margin: 0%;
}
.titulo {
    color:black;
    display: flex ;
    justify-content: center;
    font-family: 'Times New Roman';
    align-items:  center;
}
.titulo2{
    display: flex ;
    background-color:rgb(230, 249, 230);
    justify-content: center;
    font-size: 35px; 
    padding: 50px;
    text-decoration: underline;
}
.enlaces{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    font-size: 50px; 
    

}
/* width: 900px; */
.nav{
/* margin: 0 auto;
margin: 0 auto; */
display: flex;
align-items: center;
justify-content: center;
font-family:-webkit-body;

}

.img-index1 {
    width: 300px;
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    background-color: aquamarine;
    
}
.img-index2{
    width: 300px;
    display: flex;
    justify-content: flex-end;
    background-color:rgb(230, 249, 230);
    margin: 0;
}
.items {
    margin-top: 16px;
}
.items-pages {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.items-pages:hover{
    background-color: rgb(126, 233, 147);
    color: black;
    font-size: 20px;
    font-style: italic;
    border-radius: 5px;
}
.enlaces :visited{
    color: black;
}
.parrafo-1{
    display: flex ;
    justify-content: center;
    background-color:rgb(230, 249, 230);
    font-size: 24px;
padding: 20px;}



.que-te-ofrezco{
    display: flex ;
    justify-content: center;
    background-color:rgb(230, 249, 230);
    font-size: 35px;
    padding: 25px;
    text-decoration: underline;
}
.rol-dietista{
    display: flex ;
    justify-content: center;
    background-color:rgb(230, 249, 230);
    font-size: 23px;
    padding: 50px
    }
.tengoplanes{
    font-size: 25px;
}
.titulo3{
    display: flex ;
    justify-content: center;
    background-color:rgb(230, 249, 230);
}
.parrafo-2{
    display: flex ;
    justify-content: center;
}
.mapa{
    align-content: end;
}
.imagenes-principal{
    display: flex;
    justify-content: center;
    text-align: -webkit-center;
    background-color:rgb(230, 249, 230);
    gap: 50px;
}
.plan-titulo{
    text-align: center;
    background-color:rgb(230, 249, 230);
    font-size: 40px;

}
.dias{
    display: flex ;
    justify-content: center;
    background-color:rgb(230, 249, 230);
    font-size: 20px;

}
.planes-parrafo{
    display: flex ;
    justify-content: center;
    font-size: 19px;
    background-color:rgb(230, 237, 190);

}
.planes-parrafo1{
    display: flex ;
    justify-content: center;
    stroke-linecap: butt;
}
.botoncomienza{
    display: flex ;
    justify-content: center;
    background-color:rgba(240, 240, 240, 0.979);
}
.Paso-a-paso-receta-1{
    display: flex ;
    justify-content: center;
    font-size: 20px;
    background-color:rgb(230, 237, 190);
}
.receta-uno{
    display: flex ;
    justify-content: center;
    font-size: 45px;
    background-color:rgb(230, 237, 190);

}
.espaguetis{
    display: flex ;
    justify-content: center;
    font-size: 20px;
    font-weight: 800;
    background-color:rgb(230, 237, 190);
}
.Ingredientes-receta-uno{
    display: flex ;
    justify-content: center;
    background-color:rgb(230, 237, 190);
    font-size: 20px;
}
.img-espagueti{
    margin: auto;
    width: 500px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

.ensaladanaranja{
    display: flex ;
    justify-content: center;
    font-size: 45px;
    background-color:rgb(230, 237, 190);
    margin: auto;
}
.recetados{
    display: flex ;
    justify-content: center;
    background-color:rgb(230, 249, 230);
    font-size: 20px;
}
.tiempos{
    display: flex ;
    justify-content: center;
    background-color:rgb(230, 249, 230);
    font-size: 20px;
}
.ensaldafoto{
    margin: auto;
    width: 500px;
    display: flex;
    justify-content: flex-end;
    background-color:rgb(230, 249, 230);
}
.tituloingrediente{
    display: flex ;
    justify-content: center;
    font-size: 30px;
    background-color:rgb(230, 237, 190);
}

.ingredientes{
    display: flex ;
    justify-content: center;
    background-color:rgb(230, 249, 230);
    font-size: 20px;
}
.Elaboración2{
    display: flex ;
    justify-content: center;
    background-color:rgb(230, 249, 230);
    font-size: 20px;
}
.elaboraciontitulo{
    display: flex ;
    justify-content: center;
    font-size: 30px;
    background-color:rgb(230, 237, 190);
}
.tratamiento{
    display: flex ;
    justify-content: center;
    background-color:rgb(230, 237, 190);
    font-size: 40px;
}
.listadedeTratamientos{
    display: flex ;
    justify-content: center;
    font-size: 23px;
    background-color:rgb(230, 237, 190);
}
.parrafotratamiento{
    display: flex ;
    justify-content: center;
    background-color:rgb(180, 244, 171);
    font-size: 20px;
    padding: 45px;
}
.buttom_contact {
    padding: 10px 20px 10px 20px;
    background: dodgerblue;
    color: white;
    border-radius: 10px;
    border: 1px solid black;
    width: 200px;
    font-size: 16px;
    font-weight: 700;
    align-self: center;
}
.input-label_form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.contactame{
    display: flex ;
    justify-content: center;
    background-color:rgb(230, 237, 190);
    font-size: 40px;
}
.formulario{
    display: flex ;
    justify-content: center;
    background-color:rgb(230, 237, 190);
}
.div .botoncomienza{
    display: block;

}
.contactoform{
    color: rgb(255, 255, 255);
    font-size: 35px;
}
.botones{
    display: flex ;
    justify-content: center;
    font-size: 40px;
    text-align: center;
    background-color:rgb(230, 237, 190);
}
.main__form{
    display: flex ;
    justify-content: center;
    font-size: 40px;
    background-color: rgb(188, 117, 255);
}
.main__paragraph{
    display: flex ;
    justify-content: center;
    background-color:rgb(235, 247, 168);
    font-size: 40px;
}
.main__link{
    padding: 0;
    text-align: -webkit-center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.botoncomienza3{
    display: flex ;
    justify-content: center;
    font-size: 40px;
}

/* Formulario */
.formulario {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 30px;
}
.formulario__cont {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.formulario-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.input-form {
    width: 500px;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid black;
}
.input-form_message {
    width: 500px;
    height: 100px;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid black;
}

/* Fin formulario */
/* Cajas de Tratamiento */
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  min-height: 100vh;
}

body { 
  display:grid;
  place-items: center;
  font-family: "League Spartan", system-ui, sans-serif;
  font-size: 1.1rem;
  line-height: 1.2;
}

ul {
  list-style: none;
}

.main {
  max-width: 257rem;
  padding: 3em 1.5em;
}

.main__heading {
  font-weight: 600;
  font-size: 2.25em;
  margin-bottom: 0.75em;
  text-align: center;
  color: #efefef;
  background-color: rgb(63, 63, 63);
  
}

.cards {
  position: relative;
}

.cards__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5em;
}

.card {
  --flow-space: 0.5em;
  --hsl: var(--hue), var(--saturation), var(--lightness);
  flex: 1 1 14rem;
  padding: 1.5em 2em;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  align-items: start;
  gap: 1.25em;
  color: #eceff1;
  background-color: #2b2b2b;
  border: 1px solid #eceff133;
  border-radius: 15px;
}

.card__heading {
  font-size: 1.05em;
  font-weight: 600;
}

.card__price {
  font-size: 1.75em;
  font-weight: 700;
}

.flow > * + * {
  margin-top: var(--flow-space, 1.25em);
}

.cta {
  display: block;
  align-self: end;
  margin: 1em 0 0.5em 0;
  text-align: center;
  text-decoration: none;
  color: #0d0d0d;;
  background-color: #fff;
  padding: 0.7em;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
}

.overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  user-select: none;
  opacity: var(--opacity, 0);
  -webkit-mask: radial-gradient(
    25rem 25rem at var(--x) var(--y),
    #000 1%,
    transparent 30%
  );
  mask: radial-gradient(
    25rem 25rem at var(--x) var(--y),
    #a1a1a155 1%,
    transparent 10%
  );
  transition: 400ms mask ease;
  will-change: mask;
}
.overlay .cta {
  display: block;
  grid-row: -1;
  width: 100%;
  background-color: hsl(var(--hsl));
  box-shadow: 0 0 0 1px hsl(var(--hsl));
}

:not(.overlay) > .card {
  transition: 500ms background ease;
  will-change: background;
}

:not(.overlay) > .card:hover {
  --lightness: 80%;
  background: white;
  .card__heading {
    color: black;
  }
  .card__price {
    color: black;
  }
  .card__bullets {
    color: black;
  }
  .card__cta {
    color: white;
    background-color: black;
  }
}
/* Footer */
.footer__footer {
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    /* background: hsla(154, 96%, 57%, 1);
    background: linear-gradient(90deg, hsla(154, 96%, 57%, 1) 34%, hsla(0, 0%, 100%, 1) 99%); */
    padding: 20px;
    
}
.footer__dates{
    display: flex ;
    justify-content:center;
    font-size: 20px;
    margin-bottom: 0;
}
.footer__contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: Roboto;
    
}
iframe.mapa {
    border-radius: 20px;
    border: 2px solid black;
    max-width: 400px;
    height: 200px;
}

.footer__maps{
    display: flex ;
    justify-content: center;
    border: 2px solid black;
    border-radius: 20px;
}
/* Fin Footer */
/* Responsive */
@media screen and ( max-width: 480px){
    central{
        flex-direction: column;
        font-size: 1px;
    }
}
